<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>登录</title>
    <!--fontawesome图标-->
    <script src="https://kit.fontawesome.com/3a8aa86c53.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <style type="text/css">
        body {
            background-image: url("/img/bg2.png");
            background-size: cover;
            background-attachment: fixed;
        }

        .a {
            background-color: rgba(40, 83, 88, 0.6);
        }
    </style>
</head>

<span class="ui basic segment">
  <h1 class="ui  header" style="margin-left: 20px;margin-top: 3px;">
             <i class="fas fa-address-card"></i>&nbsp;&nbsp;&nbsp;学生管理系统
             <span style="color: white;font-family: 幼圆;font-size: large;">|登录界面</span>
  </h1>
    </div>

    <body>
    <div class="ui container">
        <div class="ui stackable grid ">
        	<div class="eleven wide column">
            </div>
        	<div class="five wide column" style="margin-top:70px; background-color: rgba(40,83,88,0.6);">
                <div class="ui move reveal">
<!--                    <div class="visible content">                    -->
                    <!--                        <img src="/img/cover2.gif" style="height: 350px;">-->
                    <!--                    </div>-->
                    <!--                    <div class="hidden content">-->
                    <div class="ui">
                		<h2 class="ui header" align="center" style="letter-spacing:15px;color:white;font-size:35px;">学生登录</h2>
                    </div>	
                  <div class="ui segments">          
                    <div class="ui segment">
                        <form class="ui form" action="/login" method="post" th:action="@{/}">
                            <br/>
                            <div class="field">
                                <label style="font-size: medium;">学&nbsp;&nbsp;号</label>
                                <div class="ui left icon input">
                                    <input type="text" name="studentId" placeholder="请输入学号">
                                    <i class="user icon"></i>
                                </div>
                            </div>
                            <br/>
                            <div class="field">
                                <label style="font-size: medium;">密&nbsp;&nbsp;码</label>
                                <div class="ui left icon input">
                                    <input type="password" name="password" placeholder="请输入密码">
                                    <i class="lock icon"></i>
                                </div>
                            </div>
                            <br/>
                            <div align="center">
                                <div class="ui red message" th:if="${session.msg != null}"
                                     th:text="${session.msg}"></div>
                            <button class="ui vertical animated button" type="submit"
                                    tabindex="0">
                                <div class="visible content">登录</div>
                                    <div class="hidden content">
                                        <i class="fas fa-check"></i>
                                    </div>
                            </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="reset" class="ui vertical animated button"
                                    tabindex="0">
                                 <div class="visible content">重置</div>
                                     <div class="hidden content">
                                        <i class="fas fa-redo-alt"></i>
                                     </div>
                            </button>
                            </div>
                        </form>
                    </div>
                    </div>
                    <!--                  </div>-->
                    <!--                </div>-->
            </div>
        </div>
    </div>


        <!--load jQuery v3.2.1-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>



</body>